-- ==============================================================
-- Viruj Pharma ù Users with bcrypt-hashed passwords
-- PASTE THIS INTO SUPABASE SQL EDITOR
-- ==============================================================

-- Step 1: add the column if it doesn't exist yet
ALTER TABLE public.users
  ADD COLUMN IF NOT EXISTS password_hash TEXT NOT NULL DEFAULT '';

-- Step 2: insert / update all users

-- ==============================================================
-- WARNING: The plain-text passwords are ONLY in generate_users_sql.py
--          Delete or secure that file after use.
-- ==============================================================
